services:
# A Docker web service

- type: web
  name: atfg
  env: static
#  buildCommand: hugo --gc --minify
  staticPublishPath: tmp
  pullRequestPreviewsEnabled: true     # optional

envVarGroups:
- name: conc-settings
  envVars:
  - key: CONCURRENCY
    value: 2
  - key: SECRET
    generateValue: true
  - key: USER_PROVIDED_SECRET
    sync: false
- name: stripe
  envVars:
  - key: STRIPE_API_URL
    value: https://api.stripe.com/v2
