.inner-page .page-header {
    min-height: initial;
    margin-bottom: 30px;
}

.page-header-image {
    background-image: url('/assets/img/ill/p2.svg');
}

.home .page-header-image {
    background-image: url('/assets/img/ill/index_bg.svg');
    background-size: cover;
    background-position: center 20px;
}

.home .page-header .container .col {
    text-align: center;
    width: 100%;
    max-width: 60%;
    flex: none;
    margin: 0 auto;
}


.info.gtech {
    width: 100%;
    max-width: initial;
}

.info.gtech i {
    vertical-align: middle;
}

.contactus-3 .page-header {
    background: url(/assets/img/ill/bg_contactus3.svg);
    /*background-position: center -300px;*/
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0px;
}


.activities .card {
    height: 100%;
}

.benefits .card {
    height: 100%;
}

/*.section.bg-secondary + .section {*/
/*    margin-top: 0;*/
/*    padding-top: 0;*/
/*}*/



.aaronchettan .bot-avatar {
    background-image: url(/img/aaron.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    height: 250px;
    width: 100%;
    border-radius: 250px;
}


a.btn.btn-link[type="button"]:hover {
    color: #fff !important;
}

a.btn.btn-link.btn-primary[type="button"] {
    color: #fff !important;
}


a.navbar-brand {
    font-family: 'Bevan', cursive;
    font-family: 'Bowlby One', cursive;
    font-family: 'Bowlby One SC', cursive;
    font-family: 'Bungee', cursive;
    font-family: 'Bungee Inline', cursive;
    font-family: 'Bungee Outline', cursive;
    font-family: 'Changa One', cursive;
    font-family: 'Fredericka the Great', cursive;
    font-family: 'Lalezar', cursive;
    font-family: 'Racing Sans One', cursive;
    font-family: 'Rowdies', cursive;
    font-family: 'Vast Shadow', cursive;
    font-family: 'Bungee Shade', cursive;
    font-size: 2em;
    font-weight: normal;
    padding-right: 40px;
}

@media (max-width: 991.98px) {
    .navbar .navbar-brand {
        margin-top: 0px;
        font-size: 1.6em;
    }
}

body.section {
    padding-top: 0;
}

header + section.section {
    padding-top: 0;
    margin-top: -60px;
}


/* home page */
.features-1 .info {
    max-width: 450px;
    text-align: center;
    padding-right: 0;
}

.features-1 .info .info-title {
    padding-right: 0;
}

.features-1 .info .description {
    padding-right: 0;
}


@media (max-width: 991.98px) {
    .section.features-2 .pr-md-5 {
        text-align: center;
        padding-right: 0;
    }

    .section.features-2 .pr-md-5 ul {
        max-width: 80vw;
        margin: 0 auto;
    }
}





.section.participate-others .card .card-body {
    padding-top: 0px;
}