.inner-page .page-header {
    min-height: initial;
    margin-bottom: 30px;
}


.info.gtech {
    width: 100%;
    max-width: initial;
}

.info.gtech i {
    vertical-align: middle;
}

.contactus-3 .page-header {
    background: url(/assets/img/ill/bg_contactus3.svg);
    /*background-position: center -300px;*/
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0px;
}


.activities .card {
    height: 100%;
}

.section.bg-secondary + .section {
    margin-top: 0;
    padding-top: 0;
}