<!DOCTYPE html>
<html lang="en">
<head>
    {{ $title := site.Title }}
    {{ if not .IsHome }}
        {{ $title = printf "%s | %s" .Title site.Title }}
    {{ end }}
    <title>
        {{ $title }}
    </title>
    {{ partial "head_tags.html" }}
</head>

{{ $discriminator := "" }}
{{ with .Param "discriminator" }}
    {{ $discriminator := . }}
{{ end }}

<body class='{{.Kind}} {{ $discriminator }} {{or .IsHome "inner-page" }}'>
    <div class="wrapper">
        <header class="header-1">
            {{ partial "header.html" .}}
            <div class="page-header">
                <div class="page-header-image"></div>
                <div class="container">
                    <div class="row">
                        <div class="col col-lg-8 col-md-7 mr-auto text-left d-flex justify-content-center flex-column">
                            {{ block "banner" .}}
                                <h3 class="display-3">ATFG Framework</h3>
                                <p class="lead mt-0">ATFG Framework is designed to
                                    guide Students to become Industry Ready. The framework is
                                    developed and maintained by GTech, the premier association
                                    of Tech companies in Kerala.</p>
                                <br>
                                <div class="buttons"><a class="btn btn-danger"
                                                        href="/participate/">Get Started</a>
                                </div>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </header>

        {{ block "main" .}}{{ end }}
        {{ partial "footer.html" .}}
    </div>

    {{ partial "body_tags.html" .}}
</body>
</html>

