<div class="section contactus-3">
    <div class="page-header"></div>
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-12 text-center mb-5">
                <h1 class="display-1">Got a question?</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-6">
                <div class="info info-hover">
                    <div class="icon icon-shape icon-shape-primary icon-lg shadow rounded-circle text-primary">
                        <i class="ni ni-email-83"></i></div>
                    <h4 class="info-title">Email</h4>
                    <p class="description px-0">vishnu@gtechindia.org</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-6">
                <div class="info info-hover">
                    <div class="icon icon-shape icon-shape-primary icon-lg shadow rounded-circle text-primary">
                        <i class="ni ni-mobile-button"></i></div>
                    <h4 class="info-title">Phone</h4>
                    <p class="description px-0"></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-6">
                <div class="info info-hover">
                    <div class="icon icon-shape icon-shape-primary icon-lg shadow rounded-circle text-primary">
                        <i class="ni ni-circle-08"></i></div>
                    <h4 class="info-title">Contact</h4>
                    <p class="description px-0">Vishnu G. Nair</p>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer footer-simple">
    <div class="container">
        <div class=""><span>&copy; 2020 - 2021</span><a
                class="copyright-link ml-1" href="javascript:;" target="_blank">GTech
            Academic &amp; Technology Focus Group</a></div>
    </div>
</footer>